@font-face {
    font-family: 'AkkuratItalicRegular';
    src: url('akkurat-italic.eot');
    src: url('akkurat-italic.eot') format('embedded-opentype'),
         url('akkurat-italic.woff') format('woff'),
         url('akkurat-italic.ttf') format('truetype'),
         url('akkurat-italic.svg#AkkuratItalicRegular') format('svg');
}
